<mat-card>
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>Joseph Jojo</mat-card-title>
    <mat-card-subtitle>josephjojo.com</mat-card-subtitle>
  </mat-card-header>
  <img src="/assets/img/profile.png" mat-card-image>
  <mat-card-content>
    <p>Joseph Jojo is a developer. You can call him "Joe".</p>
  </mat-card-content>
  <mat-card-actions>
    <button color="primary" mat-button>LIKE</button>
    <button color="primary" mat-button>DELETE</button>
    <div class="flex-spacer"></div>
    <button mat-icon-button>
      <mat-icon>publish</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
